ekf_filter_node:
  ros__parameters:
    frequency: 50.0
    sensor_timeout: 0.1
    two_d_mode: true

    publish_tf: true
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # =========================
    # Wheel Odometry
    # =========================
    odom0: /sensor_odom
    odom0_config: [true,  true,  false,
                   false, false, false,
                   true,  true,  false,
                   false, false, false,
                   false, false, false]

    odom0_differential: false
    odom0_relative: false

    # =========================
    # IMU (BNO055 filtered)
    # =========================
    imu0: /bno055/imu
    imu0_config: [false, false, false,
                  true,  true,  true,
                  false, false, false,
                  true,  true,  true,
                  false, false, false]

    imu0_differential: false
    imu0_relative: false
    imu0_remove_gravitational_acceleration: true
